extends layout

block content
    .jumbotron
        .container
            h1 Welcome to RottenBooks

            p What is RottenBooks? With RottenBooksSearch you can find all information about your favourite film.

            p.row
                .col-md-4.col-md-offset-4
                    form.form-inline( id="form" name="search", action="search", method="post")

                        .form-group-lg
                            input.form-control(type="text", name="user")
                            | &nbsp;
                            button.btn.btn-lg.btn-primary(type="submit") Search

    .container

        if films.length > 0
            h2 Results

            table.table.table-striped
                thead
                    tr
                        th
                        th Title
                        td Year
                        td Critics Score
                        td Audience Score

                for film in films
                    tbody
                        tr
                            td
                                a(href="#{film.posters.original}")
                                    img(src="#{film.posters.detailed}", width=80)
                            td= film.title
                            td= film.year
                            td= film.criticsScore
                            td= film.audienceScore


